*,*:after,*:before{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Montserrat', sans-serif;
}
.container {
	width:1100px;
	margin: auto;
}
.clearfix {
	clear:both;
}
P,span{
	font-family: 'Raleway',sans-serif;
}
/*-----start header----*/
section.header {
	height: 650px;
	background-image: url(../images/header-bg.jpg);
	background-size: cover;
	position: relative;
}
 
section.header .header-head {
	padding-top: 25px;
}
section.header .header-head img {
	float:left;
}
section.header .header-head nav{
	float:right;
}
section.header .header-head nav ul li{
	display: inline-block;
	padding-left: 10px;
}
section.header .header-head nav ul li a{
	color:#fff;
	text-decoration: none;
	font-size: 20px;
}
section.header .header-content {
	width:700px;
	margin: auto;
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}
section.header .header-content h2 {
	font-size: 50px;
	font-weight: bold;
	color:#fff;
	margin-bottom: 2%;
}
section.header .header-content p{
	font-size: 20px;
	color:#fff;
	margin-bottom: 2%;
}
section.header .header-content button {
	width:180px;
	border: 0;
	outline: none;
	font-size:15px;
	text-transform: uppercase;
	padding: 20px;
	border:0;
	margin-left: 3%;
	cursor: pointer;
	border-radius: 7px;
	
}
section.header .header-content button:first-child {
	background-color:#fff;
	color:#000;
}
section.header .header-content button:last-child {
	background-color:#8be2e5;
	color:#fff;
}
section.header .header-content button:last-child:hover {
	background: #7ddfe2;
}
section.header .header-footer {
	width:30px;
	height: 53px;
	border:2px solid #fff;
	position: absolute;
	margin: auto;
	bottom: 10%;
	left:50%;
	border-radius: 18px;	
}
section.header .header-footer .scroll{
	width:5px;
	height: 10px;
	background: #fff;
	margin: auto;
	position: relative;
	top:4px;
	border-radius: 2px;
	animation: scrolling 1s ease-in-out infinite;	
}
@keyframes scrolling {
	0% {
		opacity: 0;
		top:5px;
	}
	30%{
		opacity: 1;
		top:10px;
	}
	100%{
		opacity: 0;
		top:25px;
	}
}
/*-----End header----*/
/*-----start Be The first----*/
section.Befirst {
	height: 600px;
	background-image: url(../images/be-the-first-bg.jpg);
	padding-top: 10%;
	text-align: center;
	background-size: cover;
	background-attachment: fixed;
	margin-bottom: 15%;
		
}
section.Befirst .Befirst-center h2 {
	color:#fff;
	font-weight: bold;
	font-size: 40px;
}
section.Befirst .Befirst-center p {
	color:#fff;
	font-weight: normal;
	font-size: 25px;
	margin-top: 2%;
	margin-bottom: 2%;
}
section.Befirst .Befirst-image {
	text-align: center;
}
section.Befirst .Befirst-image img{
	width:400px;
}
/*-----ENd Be The first----*/
/*-----start Feature----*/
section.feature {
	padding-bottom: 20%;
}
section.feature .feature-first{
	width: 30%;
	float:left;
	margin-left: 5%;
}
section.feature .feature-first:nth-of-type(1) {
	margin-left: 0;
}
section.feature .feature-first:nth-of-type(1) hr{
	height: 5px;
	
	border: 0;
	background: #6d3f96;
}
section.feature .feature-first:nth-of-type(2) hr{
	height: 5px;
	border: 0;
	background: #70cbce;
}
section.feature .feature-first:nth-of-type(3) hr{
	height: 5px;
	border: 0;
	background: #fdc05d;
}
section.feature .feature-first h2 {
	font-size: 18px;
	margin-top: 5%;	
	margin-bottom: 5%;
}
section.feature .feature-first p{
	color:#929496;
	line-height: 1.3;
}
/*-----End Feature----*/
/*-----start pricing----*/
section.pricing {
	height:auto;
	background-color:  #70cbce;
	padding-top: 10%;
	padding-bottom: 10%;
	text-align: center;
}
section.pricing h2{
	color:#fff;
	font-size: 45px;
	margin-bottom: 2%;
}
section.pricing p{
	font-size: 18px;
	color: #fff;
	margin-bottom: 3%;
}
section.pricing .pricing-flex{
	display: flex;
	width:100%;
	justify-content: center;	
}
section.pricing .pricing-flex .flex-item{
	width:32%;
}
section.pricing .pricing-flex .flex-item:nth-of-type(1),
section.pricing .pricing-flex .flex-item:nth-of-type(3){
	margin-top: 2%;
}
section.pricing .pricing-flex .flex-item ul{
	list-style: none;
	background: #fff;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	transition: all .5s ease-in-out;
}
section.pricing .pricing-flex .flex-item ul:hover{
	margin-top: -10px;
}

section.pricing .pricing-flex .flex-item ul li.price{
	padding: 20px;
	background: #231f20;
	color:#fff;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}
section.pricing .pricing-flex .flex-item ul li.doller{
	padding: 20px;
	background: #231f20;
	color:#fff;
	padding: 15px;
	font-size: 30px;
	font-weight: bold;
	transition: all .5s ease-in-out;
}
section.pricing .pricing-flex .flex-item ul:hover li.doller{
	background:#333;
}
section.pricing .pricing-flex .flex-item ul li.doller small{
	font-weight: normal;
	color: #ddd;
}section.pricing .pricing-flex .flex-item ul li.list{
	padding: 20px;
	font-weight:bold;
	border-bottom: 1px dotted #E8EAEA;
}
section.pricing .pricing-flex .flex-item ul li.content{
	color:#929496;
	padding: 20px;
	font-size: 12px;
	font-weight: normal;
}
section.pricing .pricing-flex .flex-item ul li.btn{
    color:#70cbce;
	padding: 15px;
	text-transform: uppercase;
	cursor: pointer;
}
section.pricing .pricing-flex .flex-item ul li.btn:hover{
	background: #f5f5f5;
}
/*-----End pricing----*/
/*-----start invite----*/
section.invite {
	height: auto;
	padding-top: 10%;
	padding-bottom: 10%;
	background: #f5f5f5;
	text-align: center;
}
section.invite i{
	color:#70cbce;
	border: 2px solid #70cbce;
	border-radius: 30px;
	padding: 20px;
	margin-bottom: 2%;
}
section.invite h2{
	font-size: 40px;
	margin-bottom: 2%;	
}
section.invite p{
   margin-bottom: 2%;	
}
section.invite input {
	display: block;
	width:300px;
	margin: auto;
	height: 50px;
	border: 0;
	padding: 10px;
	outline: 0;
	margin-bottom: 2%;
	border-radius: 10px;
}
section.invite input ::-webkit-input-placeholder {
	color:#aaa;
}
section.invite button{
	width:200px;
	height: 50px;
	background:#70cbce; 
	padding: 10px;
	border:0;
	outline: 0;
	text-transform: uppercase;
	color:#fff;
	cursor:pointer;
}
/*-----End invite----*/
/*-----start info----*/
section.info{
	padding-top: 10%;
	padding-bottom: 10%;
}
section.info .info-desc{
	width:70%;
	margin: auto;
}
section.info .info-desc .info-img{
	width:20%;
	float: left;
}
section.info .info-desc .info-information{
	width:80%;
	float: left;
}
section.info hr{
	height: 2px;
	border:0;
	background: #E8EAEA;
}
/*-----End info----*/
/*-----start footer----*/
footer{
	padding-bottom: 5%;
}
footer div.left{
	float:left;
}
footer div.left span{
	padding-right: 10px;
}
footer div.right{
	float:right;
}
footer div.right span{
	color: #ccc;
}


